body {
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
    padding: 0 20% 0 20%;
}

.btn {
    align-self: center;
    width: 10%;
}

.btn-container {
    display: flex;
    gap: 2em;
    justify-content: center;
    align-items: center;
}

.container {
    display: grid;

}

.grid {
    border: 1pt solid black;
    aspect-ratio: 1;
}
